In [5]:
dict1 = {
    "april_batch":{
        "student":{
            "name":"Mike",
            "marks":{
                "python":80,
                "maths":70
            }
        }
    }
}

In [8]:
#Acess mike
dict1["april_batch"]["student"]["name"]

'Mike'

In [15]:
#Acess 80
dict1["april_batch"]["student"]["marks"]['python']

80

In [8]:
#change "Mike" to "Pranay"
dict1['name'] = ('Pranay')
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}},
 'name': 'Pranay'}

In [12]:
# Add ML = 80 inside marks
dict1['marks'] = 'ML = 80'
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}},
 'marks': 'ML = 80'}

In [13]:
#ADD DL = 80 inside marks
dict1['marks'] = 'DL = 80'
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}},
 'marks': 'DL = 80'}