In [9]:
a = {"Pranay", "Sai Krishna", "Abhinav"}
b = {"Anupama", "Prathyusha", "Shalini"}

list(zip(a,b))

[('Sai Krishna', 'Shalini'), ('Pranay', 'Anupama'), ('Abhinav', 'Prathyusha')]

In [5]:
l1 = {3, 2, 1}
a = ("abc","def","ghi")
b = ("cat","bat","mat")
l2 = {a,b,}
list(zip(l1, l2))

[(1, ('cat', 'bat', 'mat')), (2, ('abc', 'def', 'ghi'))]

#enumerate()
#syntax:(iterable, start = 0)

#Iterable - any object that support iteration
#start - the index value from which the counter is to be started, by default it is 0.

In [7]:
x = ('M.S Dhoni', 'Virat Kohli', 'Rohith Sharma')
y = enumerate(x)
print(list(y))

[(0, 'M.S Dhoni'), (1, 'Virat Kohli'), (2, 'Rohith Sharma')]

In [8]:
x = ('a', 'b', 'c')
y = enumerate(x)
print(list(y))

[(0, 'a'), (1, 'b'), (2, 'c')]

#reduce()
#It doesn't list based on the function and iterable we've passed.Instead it returns a single value.
#In Python reduce() isn't a inbuilt function anymore, and it can be found in the functions module.
#Syntax:
reduce(function, sequence[, initial])

In [ ]:
from functools import reduce

def add(x,y):
    return x + y

list = [1, 2, 3, 4, 5]
print(reduce(add, list))

In [ ]:
#using lambdas
from functools import reduce

list = [1,2,3,4,5]
print(reduce(lambda x, y : x + y, list))

In [ ]:
from functools import reduce
#using map( ) and filter( ) with lambda functions
#sequence
my_nums = [1,2,3,4,5]
#def square(num):
#return num ** 2
print(reduce(lambda num : num ** 2,my_nums))